<!doctype html>
<title>Ceph RADOS Gateway</title>
<head>
  <link rel="stylesheet" type="text/css" href="static/folder.css">
</head>

<ul>
{% for bucket in items %}
  <li>{{ bucket.bucket_name }}
    <ul>
    {% for key in bucket['keys'] %}
      <li>{{ key.key_name }} </li>
    {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>

